h1 {
   display: flex;
   justify-content: center;
   align-items: center;
}

h2, div main h3 {
    font-size: 35px;
    display: flex; 
    justify-content: center;
    align-items: center;
 }
main h3
{
    font-family: "Kaushan Script";
    color: inherit;
    font-size: 2rem;
}
/*img {
   display: flex; 
    justify-content: center;
    align-items: center;
*/

/*.photo_matcha img{
display: flex; 
justify-content: center;
align-items: center;
}
*/

main
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
main img
{
    align-self: center;
}