.container_grid {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin: 50px;
    gap: 40px;
}

.container h2 {
    width: 100%;
}

.container_grid div {

    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.container_grid img {
    width: 200px;
}